@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ASP.Server.Service
@model ASP.Server.ViewModels.FilterBookViewModel

<style>
    
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .btn{
            display: flex;
            align-items: center;
        }
        
        p {
            margin: 0;
        }
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .container-btn{
        display: flex;
        justify-content: end;
        gap: 10px;
    }
    
    .listBooks {
        display:  flex;
        flex-direction: column;
        gap: 15px;
    }
    .container-filter{
        display: flex;
        align-items: center;
        gap: 10px;
        
        p {
            margin: 0;
        }
    }
</style>

<div class="listBooks">
    <div class="title">
        <h1>Liste des livres:</h1>
        <div class="container-filter">
             <a class="btn btn-primary" asp-area="" asp-controller="Book" asp-action="Create">Ajouter un nouveau livre</a>
             <a class="btn btn-primary" asp-area="" asp-controller="Book" asp-action="CreateIsbn">Ajouter un livre par ISBN</a>
        </div>
    </div>
    
    <div class="container">
        <form asp-action="Index" asp-controller="Book" id="parameterForm">
            <div class="container-filter">
                <div class="filter-section">
                    <label for="filterBy">Filtrer par:</label>
                    <select id="filterBy" name="FilterBy">
                        <option value="author">Auteurs</option>
                        <option value="genre">Genres</option>
                    </select>
                    <input type="hidden" name="FilterBy" id="hiddenFilterBy"/>
                </div>
                <button type="submit" class="btn btn-primary">Filtrer</button>
            </div>
        </form>
        <form asp-controller="Book" asp-action="GetBookCountByAuthor">
            <div class="container-filter">
                <select id="authorId" name="authorId" asp-items="@(new SelectList(Model.Authors, "Id", "FullName"))">
                </select>
                <button type="submit" class="btn btn-primary">Obtenir nb livre</button>
                <p>@ViewBag.BookCountByAuthor</p>
            </div>
        </form>
    </div>
   
    <!-- la liste des genres est dans la variable Model qui est typé en ligne 3, elle correspond à la variable xxx dans View(xxx) du controller -->
    @foreach (var book in Model.Books)
    {
        <div class="book card">
            <div class="title card-header">
                <H2>@book.Name</H2>
                <p>@book.Price$</p>
            </div>
            <div class="card-body">
                <p>@book.Content</p>
                <p>
                    Auteurs :
                    @foreach (var author in book.Authors)
                    {
                        if (book.Authors.Last() == author)
                        {
                            <span>@author.FullName</span>
                        }
                        else
                        {
                            <span>@author.FullName - </span>
                        }
                    }
                </p>
                <p>
                    Genres :
                    @foreach (var genre in book.Genres)
                    {
                        if (book.Genres.Last() == genre)
                        {
                            <span>@genre.Name</span>
                        }
                        else
                        {
                            <span>@genre.Name - </span>
                        }
                    }
                </p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Taille du mot le plus long</th>
                        <th scope="col">Taille du mot le plus petit</th>
                        <th scope="col">Taille median des mots</th>
                        <th scope="col">Taille moyenne des mots</th>
                    </tr>
                    </thead>
                    @{
                        var stats = LibraryService.GetStatsOfBookById(book);
                        <tr>
                            <td>@stats.MaxWords</td>
                            <td>@stats.MinWords</td>
                            <td>@stats.MedWords</td>
                            <td>@stats.AvgWords</td>
                        </tr>
                    }
                </table>
                <div class="container-btn">
                    <a class="btn btn-info" asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id">Modifier</a>
                    <a class="btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">Supprimer</a>
                </div>
            </div>
        </div>
    }
</div>

